/* Navbar.css */
body, html {
  margin: 0;
  padding: 0;
  padding-top: 8px;
}

.navbar {
  margin-bottom: 20px;
  border-radius: 0;
}

.custom-navbar {
  background-color: white;
  z-index: 1030;
  position: fixed;
  width: 100%;
  top: 0;
  height: 50px;
}

.custom-nav .nav-link {
  color: rgb(80, 75, 75);
  font-size: 19px;
}

.custom-brand {
  color: rgb(80, 75, 75);
  font-size: 29px;
  font-weight: bold;
}

.custom-nav {
  margin-left: auto; /* Align items to the right */
  padding-left: 50px;
  
}

.custom-nav .nav-link {
  color: rgb(80, 75, 75);
  font-size: 16px; /* Adjust font size as needed */
}

.custom-link {
  margin-left: 10px; /* Adjust spacing between links */
  display: flex;
  align-items: center; /* Center align icon and text */
}

.custom-link.active {
  font-weight: bold;
  color: #4655f7;
  border-bottom: 2px solid #4655f7;
}

/* Ensure links are aligned to the right */
.custom-nav {
  margin-left: auto;
}

/* Increase icon size */
.custom-link svg {
  font-size: 20px; /* Adjust icon size as needed */
}


.custom-link.active {
  font-weight: bold;
  color: #4655f7;
  border-bottom: 2px solid #4655f7;
}

.dropdown-header {
  font-weight: bold;
  font-size: 1.2em;
}
