html, body, #root {
    height: 100%;
    margin: 0;
}

.sidebar {
    background-color: white;
    padding: 20px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    width: 25%;
}

.content {
    margin-left: 25%;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
}

.title {
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(45deg, #7C5ACB, #DED8F3);
}

.custom-button {
    background-color: rgba(124, 90, 203, 1);
    border-color: rgba(222, 216, 243, 1);
}

.form-field {
    background-color: #e8eaf6;
    border-color: #5c6bc0;
    color: #3f51b5;
}

.timelines-title {
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 20px;
    background: linear-gradient(45deg, #7C5ACB, #DED8F3);
    
}
.hidden {
    display: none;
}

.timeline-card {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    background-color: #DED8F3;
    width: 100%;
}
.timeline-card:last-child {
    margin-bottom: 0;
}

.message-box {
    background-color: #5c6bc0;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.d-flex {
    display: flex;
}

.justify-content-end {
    justify-content: flex-end;
}

.card-title {
    color: #7C5ACB;
}
